<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <style>
        .page-contain {
            display: flex;
            background: #E7F3F1;
            border: .75em solid white;
            padding: 2em;
            font-family: 'Open Sans', sans-serif;
        }

        .section-container {
            display: flex;
            flex-direction: column;
            max-width: 30.75em;
            /* min-height: 20.75em; */
            overflow: hidden;
            border-radius: .5em;
            text-decoration: none;
            background: white;
            padding: 2.75em 2.5em;
            transition: transform .45s ease, background .45s ease;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            margin: 1.5em auto;
        }

        .section-img {
            height: 75px;
            width: 75px;
        }

        .section-title-img-container {
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

        .section-title-img-container :last-child {
            align-self: flex-start;
        }

        .section-title-desc {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }

        .section-date {
            align-self: flex-start;
            padding-top: 5px;
        }

        .cijfers {
            height: 150px;
            display: block;
        }

        .arrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }

        .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

        h3 {
            padding-left: 15px;
            color: #242a2c;
            font-weight: 600;
            line-height: 1;
            transition: color .45s ease, border .45s ease;
        }

        p {
            padding-left: 15px;
        }

        #overlay {
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.5);
        }

        #modal {
            max-width: 600px;
            height: 300px;
            margin: auto;
            background-color: white;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        #close-modal-btn {
            float:  right;
        }
    </style>


    <body>
        <nav>
            <img id="logo" src="/public/Logo.png" alt="logo"><a href="#"></a>

            <ul>
                <li><a href="/">Home</li></a>
                <li><a href="/about">About</li></a>
                <li><a href="/contact">Contact</li></a>
                <li><a href="/history">History</li></a>
            </ul>
        </nav>
        <section>
            <h1>History</h1>

            <a style="float: right" href="/removehistory">Remove History</a><br><br>


            <div class="search-box">
                <input type="text" placeholder="search" class="search">

            </div>




            <% if(bedrijvenInDB.length==0){%>
                <div>There is no History in the database.</div>
                <% } %>

                    <div class="page-container">
                        <% let index=0; bedrijvenInDB.forEach(e=> {
                            index++;
                            %>

                            
                            <section class="section-container">
                                
                                <div class="section-title-img-container">
                                    <img class="section-img"
                                        src="https://img.freepik.com/free-vector/home-icon-house-symbol-simple-vector-design-logo_231786-5048.jpg?w=2000"
                                        alt="">

                                    <div class="section-title-desc">
                                        <h3>
                                            <%= e.name %>
                                        </h3>

                                        <br />
                                        <p>
                                            <%= e.address %>
                                                <br />
                                        </p>
                                    </div>
                                    <div class="section-date">
                                        <p>
                                            <%= e.datumNeerlegging %> <button  class="read_more"id="show-modal-btn">Meer tonen</button>
                                        </p>
                                    </div>

                                </div>
                                <div class="cijfers">cijfers</div>
                                <div id="overlay">

                                    <div id="modal">

                                        <button id="close-modal-btn">Close</button>
                                        <p class="extra_content">
                                            <br>
                                            <br>
                                            <h1>Naam <%= e.name %> </h1>
                                            <h1>Adres <%= e.address %></h1><br>

                                            <h3>Datumneerlegging <%= e.datumNeerlegging %></h3> <br>
                                           <h3> Eigenvermogen <%= e.eigenVermogen %></h3> <br>
                                           <h3> Schulden <%= e.schulden %> </h3> <br>
                                           <h3> Bedrijfwinst <%= e.bedrijfsWinst %> </h3> <br>
                                           
                                        </p>
                                        

                                    </div>
                                </div>
                               

                            </section>
                            
                            <% }); %>
                    </div>
        </section>

        <%- include('./partials/footer.ejs') %>
            <script>
                

                // var btn1;
                // document.addEventListener('DOMContentLoaded', load);
                // function load() {
                //     console.log("function load");
                //     document.body.innerHTML += overlay.style.display = "block";
                //     bt1 = document.getElementById('show-modal-btn');
                //     bt1.onclick = clicked;

                // }

                // function clicked() {
                //     document.body.insertAdjacentHTML('beforeend', '<div>welcome</div>');

                // }

                
                 var overlay = document.querySelector('#overlay');
                // var button = document.querySelectorAll("#read_more")
               
                // button.addEventListener("click", () => {
                // console.log(" in query selector meer info");
                // overlay.style.display = "block";
                // })
                // button.addEventListener("click", () => {
                // overlay.style.display = "none";
                // }) 
                    
                // }
                // const button = document.getElementById('.show-modal-btn')
                // button.addEventListener('click',clickable)

            /*    function clickable(e){
                    console.log("it is clicked")
                }
                */
                window.onload = function(){
                    var buttonlist = document.querySelectorAll('#show-modal-btn');
                    for (let index = 0; index < buttonlist.length; index++) {
                        // console.log(buttonlist[index] + " is a button" + index)
                        buttonlist[index].addEventListener("click",()=>{
                            console.log("im in it")
                            overlay.style.display = "block"
                        })
                        
                    }
                    
                    // button.addEventListener('click', clickable);

                }
                document.querySelector("#close-modal-btn").addEventListener("click",()=>{
                    console.log("in close button")
                    overlay.style.display = "none"
                   

                })

                var infos = document.getElementsByClassName("extra_content");
                for (let i = 0; i < infos.length; i++) {
                         
}
                // window.onload = function(){
                //     var buttonlist = document.querySelectorAll('#close-modal-btn');
                //     for (let index = 0; index < buttonlist.length; index++) {
                //         // console.log(buttonlist[index] + " is a button" + index)
                //         buttonlist[index].addEventListener("click",()=>{
                            
                //             overlay.style.display = "none"
                //         })
                        
                //     }
                    
                //     // button.addEventListener('click', clickable);

                // }


               
            </script>

    </body>

</html>