<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<style>
    .byWinst {color:green;}
    .byVerlies {color:red;}
    .container{
        display: flex;
        justify-content: space-around;
    };
  
   
</style>
<body>
    <style>
          /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    </style>
        <nav>
            <img id="logo" src="/public/Logo.png" alt="logo"><a href="#"></a>
            <ul>
                <li><a href="/">Home</li></a>
                <li><a href="/about">About</li></a>
                <li><a href="/contact">Contact</li></a>
                <li><a href="/history">History</li></a>
            </ul>  
        </nav>
    <div class="vergelijk">
        <form action="/" method="post">
            <label for="ondernemingsnummers">Ondernemingsnummer:</label>
            <input type="number" id="ondernemingsnummer1" name="ondernemingsnummer1"  style="width: 350px;" required><br><br>
            <button type="submit" class="vergelijkButton"> Vergelijk </button><br>
            <br>
            <label for="ondernemingsnummers">Ondernemingsnummer:</label>
            <input type="number" id="ondernemingsnummer2" name="ondernemingsnummer2"  style="width: 350px;" required>
        </form>

        <div class="container">
        


        <%
            let o1Vermogen = "";
            let o2Vermogen = "";
            let o1Winst = "";
            let o2Winst = "";
            let o1Schulden = "";
            let o2Schulden = "";

                
            if (parseFloat(bedrijven[0].eigenVermogen) > parseFloat(bedrijven[1].eigenVermogen)){
                o1Vermogen = `style=color:green`;
                o2Vermogen = `style=color:red`;
             } else if (parseFloat(bedrijven[0].eigenVermogen) < parseFloat(bedrijven[1].eigenVermogen)){
                o1Vermogen = `style=color:red`;
                o2Vermogen = `style=color:green`;
            } else {
                o1Vermogen = `style=color:black`;
                o2Vermogen = `style=color:black`;
            }
        

        
            if (parseFloat(bedrijven[0].schulden) > parseFloat(bedrijven[1].schulden)){
                o1Schulden = `style=color:red`;
                o2Schulden = `style=color:green`;
            } else if (parseFloat(bedrijven[0].schulden) < parseFloat(bedrijven[1].schulden)){
                o1Schulden = `style=color:green`;
                o2Schulden = `style=color:red`;
            } else {
                o1Schulden = `style=color:black`;
                o2Schulden = `style=color:black`;
            }
        

        
            if (parseFloat(bedrijven[0].bedrijfsWinst) > parseFloat(bedrijven[1].bedrijfsWinst)){
                o1Winst = `style=color:green`;
                o2Winst = `style=color:red`;
              }  else if (parseFloat(bedrijven[0].bedrijfsWinst) < parseFloat(bedrijven[1].bedrijfsWinst)){
                o1Winst = `style=color:red`;
                o2Winst = `style=color:green`;
            } else {
                o1Winst = `style=color:black`;
                o2winst = `style=color:black`;
            }
        

          
            
                if (parseFloat(bedrijven[0].schulden) > parseFloat(bedrijven[1].schulden)){
                    console.log(`De schulden van o1 : ${parseFloat(bedrijven[0].schulden)} zijn groter dan o2: ${parseFloat(bedrijven[1].schulden)}`);
                }   
                if (parseFloat(bedrijven[1].schulden) > parseFloat(bedrijven[0].schulden)){
                    console.log(`De schulden van o1 : ${parseFloat(bedrijven[0].schulden)} zijn kleiner dan o2: ${parseFloat(bedrijven[1].schulden)}`);
                } 
            

            console.log(bedrijven[0]);
            console.log(bedrijven[1]);
            
        
        %>

        <div class="kolom">
            <div>
                <strong>Naam</strong>&nbsp;&nbsp;&nbsp;<%= bedrijven[0].name %><br>
                <strong>Adres</strong>&nbsp;&nbsp;&nbsp;<%= bedrijven[0].address %><br><br>
                <div>
                    <strong>Datum neerlegging</strong><div class="floatRight"><%= bedrijven[0].datumNeerlegging %></div> <br>
                    <strong>EigenVermogen</strong><div <%- o1Vermogen %> class="floatRight"><%= bedrijven[0].eigenVermogen  %></div><br>
                    <strong>Schulden</strong><div <%- o1Schulden %> class="floatRight"><%= bedrijven[0].schulden %></div><br>
                    <strong>Bedrijfswinst</strong><div <%- o1Winst %>  class="floatRight"><%= bedrijven[0].bedrijfsWinst %></div><br>
                </div>
            </div>
        </div>
        <div class="kolom">
                <strong>Naam</strong>&nbsp;&nbsp;&nbsp;<%= bedrijven[1].name %><br>
                <strong>Adres</strong>&nbsp;&nbsp;&nbsp;<%= bedrijven[1].address %><br><br>
                
                <strong>Datum neerlegging</strong><div class="floatRight"><%= bedrijven[1].datumNeerlegging %></div><br>
                <strong>EigenVermogen</strong><div <%- o2Vermogen %> class="floatRight"> <%= bedrijven[1].eigenVermogen %></div><br>
                <strong>Schulden</strong><div <%- o2Schulden %> class="floatRight"><%= bedrijven[1].schulden %></div><br>
                <strong>Bedrijfswinst</strong><div <%- o2Winst %>  class="floatRight"><%= bedrijven[1].bedrijfsWinst %></div><br>
        </div>
    </div>


    </div> 
    <p>*Hieronder vind u ondernemingsnummers die in de database zijn opgeslagen.</p>
    <p>LET OP: Deze ondernemingsnummer missen vanvoor een '0', zet deze er dus zelf nog voor.</p><br>
            <img src="/public/ondernemingen.png" width="500">

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>